.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.pem
node_modules/
**/node_modules/
.env
.env.*
*.env
.next/
out/
build/
dist/
.vercel/
next-env.d.ts
*.tsbuildinfo
venv/
__pycache__/
*.pyc
*.db
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
static/images